.background-standings
{
    min-height: 99%;
    max-height: 99%;
    top: -0;
    left: -0;
    width: 100%;
    -webkit-filter: blur(3px);
}

.containerStandings
{
    display: flex;
    margin: 0 auto;
}


.contained
{
    display: flex;
    flex-direction: column;
    margin-top: 134px;
    width: 1240px;
    height: 106px;
}