.background-image
{
    z-index: -2;
    position: absolute;
}

.backgroundHomePage
{
    top: 0;
    left: 0;
    width: 100%;
}


.gradient{
    position: absolute;
    z-index: -1;
}

.lighterGradient
{
    top: 0;
    left: 0;
    width: 1440px;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 8.62%, rgba(0, 0, 0, 0.3) 59.66%), linear-gradient(180deg, rgba(0, 0, 0, 0) 8.62%, rgba(0, 0, 0, 0.85) 100%);
}
.bodyContainer
{
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.mainMessage
{
    margin-top: 240px;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
}
.mainMessage span
{
    color: #00B6CF;
}

.line
{
    display: inline-flex;
    margin-top: 35px;
    width: 170px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.secondLine
{
    margin-left: 50px;
}


.buttonOr
{
    color: #ffffff;
    margin-top: -22px;
}

.riotMenu
{
    width: 16px;
}

.buttonSignIn
{
    width: 456px;
    margin: 0 auto;
    margin-top: 20px;
    background: #00E0FF30;
    border-radius: 17px;
    padding: 10px 0;
}

.buttonSignIn span
{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 10px;
}

.apostrophe
{
    font-size: 10px;
    color: #ffffff;
}

.numberOfPlayersTracked
{
    margin-top: 40px;
    color: #ffffff;
    font-weight: 400;
    font-size: 32px;
}

.numberOfPlayersTracked span 
{
    font-weight: 800;
}