.containerComponent
{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.row
{
    display: flex;
}

.user
{
    margin-top: 17vh;
    color: #ffffff;
    width: 45vw;
}

.mainPic
{
    width: 7.5vw;
    float: left;
    padding-left: 4.8vw;
}

.usernameText
{
    font-size: 4vw;
    font-weight: 700;
    text-align: left;
    margin-left: 14vw;
}

.userLevel
{
    text-align: left;
    font-size: 1.2vw;
    font-weight: 400;
    margin-top: -1.5vh; 
    margin-left: 14vw;
}

.userLevel span
{
    font-weight: 700;
    font-size: clamp(12px,2vw,40px);
}






