.containerRecentMatch
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.containWidth
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 10px;
    text-decoration: none;
}

.containWidth:nth-child(2n){
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
}

.champion-img{
    width: 50px;
    border-radius: 50%;
    border: 1px solid #AC904D;
}

.differentArrays
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aramTitle
{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.detailedRecentMatch
{
    text-align: center;
    line-height: 12px;
    color: #A090B0;
    font-weight: 300;
    font-size: 12px;
    min-width: 100px;
}

.row > img
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}


.winOrLossStat
{
    display: flex;
    flex-direction: column;
}

.winOrLossStat
{
    margin-left: 12px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

.victoryStat
{
    color: #00B6CF;
    font-weight: 700;
    font-size: 24px;
}